.footer {
  background-color: #101d2c;
  grid-column: full-start / full-end;
  padding: 8rem;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: center;
  gap: 2rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}

.nav__link:hover,
.nav__link:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  text-align: center;
  margin-top: 6rem;
}

.copyright a:link,
.copyright a:visited {
  color: #c69963;
  text-decoration: none;
}
